.conteudo {

    display: flex;

    flex-wrap: wrap;

    max-width: 80vw;

    margin: 0 auto;


}


.conteudo img {

    display: block;

    max-width: 100%;

}

.conteudo>div {

    flex-grow: 1;
    /*age no tamanho do crescimento*/

    flex-shrink: 1;
    /*age no tamanho de encolhimento*/

    flex-basis: 300px;
    /*base para manter esse tamanho pré definido, caso não consiga manter ele ira agir no crescimento e encolhimento*/
    
}
